:root {
  $primary-color: #3498db;
  $secondary-color: #2ecc71;
  $text-color: #333;
  $bg-color: #f9f9f9;

  $small-space: 8px;
  $medium-space: 16px;
  $large-space: 24px;

  $small-font: 12px;
  $medium-font: 16px;
  $large-font: 24px;
}
